{% extends 'hms/base.html' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}

<section class="section">
  <div class="container">

    <h2>Edit Appointment</h2>

    <form method="POST">
      {% csrf_token %}

      <input type="text" name="patient" value="{{ appointment.patient_name }}" class="form-control"><br>

      <select name="doctor" class="form-control">
        {% for d in doctors %}
        <option value="{{ d.id }}" {% if d.id == appointment.doctor.id %}selected{% endif %}>
          {{ d.name }}
        </option>
        {% endfor %}
      </select><br>

      <input type="date" name="date" value="{{ appointment.date }}" class="form-control"><br>
      <input type="time" name="time" value="{{ appointment.time }}" class="form-control"><br>

      <textarea name="message" class="form-control">{{ appointment.message }}</textarea><br>

      <button type="submit">Update</button>

    </form>

  </div>
</section>

{% endblock %}